.DS_Store
node_modules
/dist
db.sqlite3
/backend/bank_statement/store/*
db

# cypress
/tests/e2e/videos/
/tests/e2e/screenshots/
**/__pycache__/**

# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
