[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pypdf4 = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest-django = "*"
pytest-factoryboy = "*"
pytest = "*"

[requires]
python_version = "3.8.1"

[pipenv]
allow_prereleases = true
